body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

#filters {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.filter-btn, .data-source-btn {
    padding: 8px 12px;
    border: 1px solid #ddd;
    background-color: #f4f4f4;
    cursor: pointer;
    font-size: 12px;
    border-radius: 4px;
    transition: background-color 0.3s, border-color 0.3s;
}

.filter-btn:hover, .data-source-btn:hover {
    background-color: #e9e9e9;
}

input#searchBox {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    box-sizing: border-box;
}

.info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
    margin-bottom: 10px;
}

.info-text {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
}

#search-results {
    text-align: left;
}

#last-updated {
    text-align: right;
}

.highlight {
    font-weight: bold;
}

.container > * {
    margin-bottom: 10px;
}

#data-table {
    width: 100%;
    table-layout: fixed; /* This ensures that the column widths are respected */
    border-collapse: collapse;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

/* Set widths for specific columns */
#data-table th:nth-child(1), #data-table td:nth-child(1) { width: 15%; } /* MC Name #1 */
#data-table th:nth-child(2), #data-table td:nth-child(2) { width: 15%; } /* MC Name #2 */
#data-table th:nth-child(3), #data-table td:nth-child(3) { width: 10%; } /* Event */
#data-table th:nth-child(4), #data-table td:nth-child(4) { width: 10%; } /* Location */
#data-table th:nth-child(5), #data-table td:nth-child(5) { width: 7.5%; } /* Stadt */
#data-table th:nth-child(6), #data-table td:nth-child(6) { width: 7.5%; } /* Type */
#data-table th:nth-child(7), #data-table td:nth-child(7) { width: 5%; } /* Year */
#data-table th:nth-child(8), #data-table td:nth-child(8) { width: 5%; } /* League */
#data-table th:nth-child(9), #data-table td:nth-child(9) { width: 7.5%; } /* Uploaded */
#data-table th:nth-child(10), #data-table td:nth-child(10) { width: 5%; } /* URL */
#data-table th:nth-child(11), #data-table td:nth-child(11) { width: 7.5%; } /* Views */

/* Ensure content doesn't overflow */
#data-table th, #data-table td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* Add hover effect to see full content */
#data-table td:hover {
    white-space: normal;
    word-wrap: break-word;
}

@media screen and (max-width: 600px) {
    #data-table {
        table-layout: auto; /* Allow table to adjust for small screens */
    }
    
    #data-table th, #data-table td {
        width: auto !important; /* Override fixed widths on small screens */
    }
}

@media screen and (max-width: 600px) {
    #data-table {
        width: 100%;
        display: block;
        overflow-x: auto;
    }

    th, td {
        white-space: nowrap;
    }
}

footer {
    text-align: center;
    background-color: #f4f4f4;
    padding: 20px;
    box-sizing: border-box;
}

.footer-link {
    color: #007bff;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}

#sort-views {
    cursor: pointer;
    position: relative;
}

#sort-views:hover {
    background-color: #e0e0e0;
}

/* Triangle pointing downwards (for ascending sort) */
#sort-views.asc:after {
    content: '';
    position: absolute;
    right: 5px;
    top: 50%;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
    transform: translateY(-50%);
}

/* Triangle pointing upwards (for descending sort) */
#sort-views.desc:after {
    content: '';
    position: absolute;
    right: 5px;
    top: 50%;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
    transform: translateY(-50%);
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode .container {
    background-color: #242424;
}

body.dark-mode #data-table {
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.1);
}

body.dark-mode th, body.dark-mode td {
    border-bottom: 1px solid #444;
}

body.dark-mode th {
    background-color: #333;
    color: #ffffff;
}

body.dark-mode tr:nth-child(even) {
    background-color: #1e1e1e;
}

body.dark-mode tr:hover {
    background-color: #2a2a2a;
}

body.dark-mode .filter-btn, body.dark-mode .data-source-btn {
    border: 1px solid #444;
    background-color: #333;
    color: #fff;
}

body.dark-mode .filter-btn:hover, body.dark-mode .data-source-btn:hover {
    background-color: #2a2a2a;
}

body.dark-mode .footer-link {
    color: #bbbbff;
}

body.dark-mode footer {
    background-color: #333;
    color: #fff;
}

.theme-toggle-btn {
    cursor: pointer;
    font-size: 24px;
    background: none;
    border: none;
    color: inherit;
}

.dark-mode a {
    color: #a9ecf5;
    text-decoration: underline;
    text-decoration-style: dotted;
    border-bottom: none;
}

.dark-mode a:hover, .dark-mode a:focus {
    color: #ffffff;
    background-color: #555555;
}

.dark-mode a:visited {
    color: #c7a2ff;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip .tooltiptext img {
    max-width: 100%;
    height: auto;
    display: block;
}

body.dark-mode .tooltip .tooltiptext {
    background-color: #333;
    color: #fff;
    border-color: #555;
}

#data-table td a {
    white-space: nowrap;
    overflow: visible;
    text-overflow: clip;
    max-width: none;
}